@charset "UTF-8";
/* CSS Icons */
.systems_icons_svg {
	border-radius: 30%;
    background: #fff;
    display: block;
	padding: 5px;
}
.economy-icon {
	padding-bottom: 10px;
    background: none;
    padding-left: 10px;
    padding-right: 90px;
    padding-top: 25px;
}
.economy_icon_svg {
    width: auto;
    height: 70px;
    position: absolute
}
@media (max-width: 575.98px) { .economy_icon { 
	padding-bottom: 10px;
    background: none;
    padding-left: 20px;
    padding-right: 60px;
	}	
	}
@media (max-width: 575.98px) { .economy_icon_svg { 
	width: 40%;
    height: auto;
    position: relative;
	}	
	}
.answear-icon {
	padding-bottom: 10px;
    background: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.answear_icon_svg {
    width: 20%;
    height: auto;
    margin-left: 0;
	filter: drop-shadow( 0px 132px 3px rgba(190, 0, 0, 0.06));
}
.answear_icon_svg-lg {
    width: 29%;
    height: auto;
    margin-left: 0;
	filter: drop-shadow( 0px 167px 3px rgba(190, 0, 0, 0.06));
}
@media (max-width: 575.98px) { .answear_icon_svg { 
	width: 23%;
    height: auto;
    position: relative;
	}	
	}
@media (max-width: 575.98px) { .answear_icon_svg-lg { 
	width: 33%;
    height: auto;
    position: relative;
	}	
	}
.processes_icon {
    width: 105px;
	filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, 0.16));
}

