/*!
Version	 :	1.9.2
Updated	 :	01.15.2020
*/
/*! WRITE YOUR CUSTOM STYLE **/

.btn-outline:hover { color: #fff !important; }
.btn-primary.btn-outline:hover { background-color: #0496ff; border-color: #fff; color: #fff !important; }
.btn-primary:hover:focus, .btn-primary:focus:focus { 
	color: #223b55 !important; 
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2) !important;
}
.btn-primary:hover, .btn-primary:focus { background-color: #0079D0; border-color: #fff; }
.tc-light .btn-success:hover, .tc-light .btn-success:focus { background-color: #39d884b5; border-color: aliceblue; color: #fff !important; }
.badge { color: #fff; background-color: #16a1ff; display: inline-block; font-weight: 600; text-transform: uppercase; border-radius: 3px; padding: 2px 5px; font-size: 13px; line-height: 20px; border: 1px solid #BBBBBB; }
.social li a:hover .social-icon { 
	background-color: transparent;
	color: #16a1ff;
  	border-radius: 50%;
  	-webkit-box-shadow: inset 0px 0px 1px 2px #FFFFFF; 
box-shadow: inset 0px 0px 1px 2px #FFFFFF;
}
.fa-spin-hover:hover {
  transform: rotate(360deg);
}
.tel-comm {
   width: 30px;
   color: transparent !important; 
overflow: hidden;
}
.tel-comm:hover {
   width: 75px;
	color: #16a1ff !important;
}
.icon-list {
	color: #44545e;
}
@media screen and (min-width: 600px)  {
        .mobile-break { display: none; }
    }	

.bg-top-center { background-position: 50% 6%; }

/*! BONUS BUTTON **/
.button-bonus {
  width: 109px;
  min-height: 27px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 5px;
  margin: auto;
  }

.button-bonus::before {
content: '';
  border-radius: 1000px;
  min-width: calc(105px + 12px);
  min-height: calc(31px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button-bonus:hover, .button-bonus:focus {
  color: #313133;
  transform: translateY(-4px);
}

.button-bonus:hover::before, button-bonus:focus::before {
  opacity: 1;
}

.button-bonus::after {
  content: 'BONUS';
  
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button-bonus:hover::after, button-bonus:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

.hex-featues {
	width: 300px;
	height: auto;
}
.features-hex {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.features-hex img {
	width: 300px;
}
.features-hex-centered {
  margin: auto;
}

/*! END BONUS BUTTON **/
@media screen and (max-width: 991px)  {
    .metryka-tokenu-col { 
	flex: 0 0 100%;
    max-width: 100%; }
    }		

.token-bar-item.tbic6 { background: #69e7c5; }

.token-bar-item.tbic6:before { background: #69e7c5; }

.token-bar-item.tbic7 { background: #68e8da; }

.token-bar-item.tbic7:before { background: #68e8da; }

.token-bar-item.tbic8 { background: #68dee8; }

.token-bar-item.tbic8:before { background: #68dee8; }

.token-bar-item.tbic9 { background: #68c9e8; }

.token-bar-item.tbic9:before { background: #68c9e8; }

.token-bar-item.tbic10 { background: #62c5ff; }

.token-bar-item.tbic10:before { background: #62c5ff; }

.token-bar-item.tbic11 { background: #f8ef99; }

.token-bar-item.tbic11:before { background: #f8ef99; }

.alokacja-icon {
    margin-left: -10px;
    font-size: large;
    color: steelblue;
    margin-right: 11px;
    margin-top: 2px;
}
@media screen and (min-width: 991px)  {
      .alokacja-col { 
	padding-right: 5px;
    padding-left: 5px; }
    }	
.accordion-mechanizm-col {
	width: 20%;
    padding-right: 5px;
    padding-left: 5px;
	padding-bottom: 15px;
    float: left;
}
@media screen and (max-width: 992px)  {
      .accordion-mechanizm-col { 
    width: 100%; }
    }	
.accordion-mechanizm-item {
	transition: all .4s;
    padding-bottom: 8px;
	background-color: #006ba6;
}
@media screen and (max-width: 992px)  {
      .accordion-mechanizm-item h5 { 
    font-size: 16px; }
    }	
.accordion-mechanizm-content {
	padding-bottom: 12px;
    padding-right: 20px;
}
.accordion-mechanizm-content p {
	color: lavender !important;
    font-weight: normal;
    letter-spacing: 0.035em;
	font-size: 14px;
}
.accordion-mechanizm-title {
	color: aliceblue !important; 
}
.accordion-content-alok p {
    font-size: 14px;
    padding-top: 5px;
	font-weight: 400;
	letter-spacing: 0.02em;
}
.rotate_accordion_plus {
  animation: rotation2 15s linear infinite;
  margin-top: -18px;
  
}
@keyframes rotation2 {
  0% { 
    transform: rotate(0deg);  
  }
  1% { 
   transform: rotate(20deg);  
  }
  2% { 
   transform: rotate(30deg);  
  }
  3% { 
   transform: rotate(50deg);  
  }
  4% { 
   transform: rotate(90deg);  
  }	
  5% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate {
  animation: rotation 8s infinite linear;
}
.rotate:hover {
    transform: rotate(1080deg);
  }
.rotate-nice {
  transition: all 3s;
  transition-timing: ease-in-out;
}
.rotate-nice:hover {
    transform: rotate(1080deg);
  }

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@media (max-width: 768px) { .accordion-title-lg { font-size: 17px; }
}
	
@media (max-width: 576px) { .badge-mobile-alok-left { 
	float: left; 
	margin-top: 5px; 
	}	
	}
@media (min-width: 577px) { .badge-mobile-alok-left { 
	float: left; 
	margin-top: 7px; 
	}	
	}
@media (max-width: 576px) { .badge-mobile-alok-right { 
	float:right;
	margin-top: 9px;
	margin-right: 9px;
	font-size: large;
	margin-left: 8px;
	}	
	}
@media (min-width: 577px) { .badge-mobile-alok-right { 
	float:right;
	margin-top: 11px;
	margin-right: 9px;
	font-size: large;
	margin-left: 8px;
	}	
	}
.economy-goods-icon-modal {
	float: right;
    margin-top: 30px;
    color: aliceblue;
    font-size: 30px;
    padding-right: 5px;
}
@media (max-width: 575px) { .economy-goods-icon-modal { 
	float:right;
	margin-top: 8px;
	margin-right: 9px;
	margin-left: 8px;
	}	
}
.economy-resources-icon-r1 {
	font-size: 1.3rem;
	margin-right: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid;
    border-color: currentColor;
    margin-left: 0;
	color: #23c99d;
    background: linear-gradient(-90deg, #fff 0%, #aef1df 100%);
}
.economy-resources-icon-r2 {
	font-size: 1.3rem;
	margin-right: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid;
    border-color: #596066;
    margin-left: 0;
	color: #394650;
    background: linear-gradient(90deg, rgba(103,123,143,1) 0%, rgba(255,255,255,1) 100%);
}
.economy-goods-card {
	box-shadow: 2px 2px 3px 1px rgb(0 0 0 / 58%);
	background-color: #006ba6e0;
	color: #F0F8FF;
}
.economy-goods-card p {
	color: #F0F8FF;
}
.economy-goods-card h4 {
	color: #F0F8FF;
}
.gfx-economy { transform: scale(1.4); }

.answer-goods-card {
	box-shadow: 5px 5px 0px 0px rgb(255 255 255 / 24%);
    background-color: #d53c80b0;
    color: #000000;
}
.answer-goods-card p {
	color: #F4F4F4;
	font-weight: 400;
}
.answer-goods-card h4 {
	color: #F4F4F4;
}
.answer-goods-card2 {
	box-shadow: 5px 5px 0px 0px rgb(255 255 255 / 24%);
    background-color: #d53c80b0;
    color: #F0F8FF;
}
.answer-goods-card2 p {
	color: #F0F8FF;
}
.answer-goods-card2 h4 {
	color: #F0F8FF;
}
.h-read {
	font-weight: 400;
}
.image-sslide-mockup {
	width: 540px;
	height: 447px;
}

.posibilities-card-shadow {
	box-shadow: 0px 0px 18px -11px rgba(0,0,0,0.4);
}
.posibilities-card-border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 100%);
}
.posibilities-card-border-gradient-purple {
  border-image-source: linear-gradient(to left, #ed217c, #ffbc4273);
}
.last-features {
	padding-left: 7px;
	padding-right: 7px;
}

.nice-box-lift {
  position: relative;
  top: 0;
  transition: all .4s;
}
.nice-box-lift:hover {
  top: -10px;
}
.nice-box-lift2 {
  position: relative;
  top: 0;
  transition: all .7s;
}
.nice-box-lift2:hover {
  top: 10px;
}

.image-sslide {
    position: absolute;
    z-index: -2;
    right: 0;
    left: 0;
    bottom: 0;
	top: 0;
	background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover !important; 
    height: 100%;    
}
.image-sslide-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
	background-position: 50% 0%;
    background-image: repeating-linear-gradient(
        0deg, 
        transparent, 
        transparent
        2px, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1) 3px
    );
}
.image-sslide-overlay-dark {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-position: 50% 0%;
    background-color: #000;
    opacity: 40%;
}

/* Add this to your CSS */
.tooltip-blue-steel {
  --balloon-color: rgb(0 21 39 / 76%) !important;
}
.tooltip-big-text {
  --balloon-font-size: 20px;
}
.tooltip-slide {
  --balloon-move: 30px;
}
.tooltip-team-hi {
  --balloon-color: linear-gradient(5deg, rgba(237,33,124,1) 0%, rgba(4,150,255,1) 50%, rgba(255,188,66,1) 100%);
}
.team-profe-icon {
	margin-top: 1px;
}
.owl-stage {
	padding-top: 13px;
}
.small_dot_green {
    padding: 11px 11px; 
    background: #43A308;
	opacity: 0.5;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    transform: scale(0.4, 0.4);
	float: right;
}
.small_dot_yellow {
    padding: 11px 11px; 
    background: #f4f07a;
	opacity: 0.5;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    transform: scale(0.4, 0.4);
	float: right;
}
.small_dot_green:hover {
  opacity: 1.0;
}
.drop-list a:hover {background-color: #ddd; }

/* Show the dropdown menu on hover */
.drop-list:hover .dropdown-menu {display: block;}
.menu-sub .menu-item:hover > a { background: linear-gradient(117deg, rgba(4,150,255,0.7) 20%, rgba(255,255,255,0) 83%); color: white; font-weight: 400; letter-spacing: 0.02em; }

.social-footer li { text-align: center; display: inline-block; padding: 0 2px; }

.social-footer li:first-child { padding-left: 0; }

.social-footer li a { display: inline-flex; align-items: center; transition: all 0.3s; width: auto; }

.social-footer li a:hover { opacity: 1; transform: translateX(0); }

.social-footer li a:hover .social-footer-icon { background: #2b56f5; color: #fff; }

.tc-light .social-footer li a:hover .social-footer-icon { background: #16a1ff; }

.social-footer li a:hover .social-footer-icon + span { color: #fff; }

.social-footer-icon { width: 27px; height: 27px; line-height: 28px; font-size: 13px; border-radius: 50%; transition: 0.3s; color: #fff; background: #16a1ff; }

.tc-light .social-footer-icon { color: #fff; background: rgba(255, 255, 255, 0.15); }

.social-footer-icon-transparent { background: transparent; }

.tc-light .social-footer-icon-transparent { background: transparent; }

.social-footer-icon + span { display: none; margin-left: 8px; font-weight: 600; text-transform: uppercase; font-size: 12px; color: #16a1ff; transition: all 0.3s; }

.header_back_images {
	background-position: 50% 0%;
}

.distribution-icon-pulse {
	display: inline-block;
	-moz-animation: pulse 1.8s infinite linear;
	-o-animation: pulse 1.8s infinite linear;
	-webkit-animation: pulse 1.8s infinite linear;
	animation: pulse 1.8s infinite linear;
}
@-webkit-keyframes pulse {
	0% { color: #fff; }
	40% { color: #ffbc42; }
	75% { color: #ffbc42; }
	100% { color: #fff; }
}
@-moz-keyframes pulse {
	0% { color: #fff; }
	40% { color: #ffbc42; }
	75% { color: #ffbc42; }
	100% { color: #fff; }
}
@-o-keyframes pulse {
	0% { color: #fff; }
	40% { color: #ffbc42; }
	75% { color: #ffbc42; }
	100% { color: #fff; }
}
@-ms-keyframes pulse {
	0% { color: #fff; }
	40% { color: #ffbc42; }
	75% { color: #ffbc42; }
	100% { color: #fff; }
}
@keyframes pulse {
	0% { color: #fff; }
	40% { color: #ffbc42; }
	75% { color: #ffbc42; }
	100% { color: #fff; }
}
.goods-icon-pulse_2 {
	display: inline-block;
	-moz-animation: pulse_2 1.8s infinite linear;
	-o-animation: pulse_2 1.8s infinite linear;
	-webkit-animation: pulse_2 1.8s infinite linear;
	animation: pulse_2 1.8s infinite linear;
}
@-webkit-keyframes pulse_2 {
	0% { color: #fff; }
	40% { color: #CECECE; }
	75% { color: #CECECE; }
	100% { color: #fff; }
}
@-moz-keyframes pulse_2 {
	0% { color: #fff; }
	40% { color: #CECECE; }
	75% { color: #CECECE; }
	100% { color: #fff; }
}
@-o-keyframes pulse_2 {
	0% { color: #fff; }
	40% { color: #CECECE; }
	75% { color: #CECECE; }
	100% { color: #fff; }
}
@-ms-keyframes pulse_2 {
	0% { color: #fff; }
	40% { color: #CECECE; }
	75% { color: #CECECE; }
	100% { color: #fff; }
}
@keyframes pulse_2 {
	0% { color: #fff; }
	40% { color: #CECECE; }
	75% { color: #CECECE; }
	100% { color: #fff; }
}
.background_under_particle {
	z-index: -1 !important
}
.badge-sale-bonus {
	top: 40%;
    right: 10%;
    padding: 0 8px;
}
@media (max-width: 1200px) { .badge-sale-bonus { 
    right: -5%;
	}	
}
@media (max-width: 991.98px) { .badge-sale-bonus { 
    right: 23%;
	}	
}
@media (max-width: 574.98px) { .badge-sale-bonus { 
    right: -10%;
	}	
}
.pdb-large { padding-bottom: 200px !important; }
.progress-bar-header {
	height: 14px;
    background: rgb(213 238 255 / 30%);
}
.disabled {
    pointer-events:none;
    opacity:0.6;
}
.pay-logo-partners-coinbase {
	margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 300px;
}
.pay-logo-partners-coinbase-buy {
    margin-top: -37px;
    margin-bottom: 10px;
    margin-left: -25px;
    max-width: 80%;
}
@media (max-width: 991.98px) { .pay-logo-partners-coinbase-buy { 
    max-width: 25%;
    margin-top: -38px;
    margin-left: -27px;
	}	
}
.pay-logo-partners-wallets {
	margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 350px;
}
.pay-logo-partners-small {
	margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 1px;
    max-width: 40%;
}
.pay-logo-partners-small2 {
	margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 1px;
    max-width: 40%;
}
@media (max-width: 991.98px) { .pay-logo-partners-small2 {
	margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 1px;
    max-width: 75%;
	}	
}
@media (min-width: 991.99px) { .pay-logo-partners-small2 {
	margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 1px;
    max-width: 40%;
	}	
}
.pay-logo-partners-medium {
	margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    max-width: 70%;
}
.box-color-sale {
	background: linear-gradient(0deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.8) 80%);
	border: 1px solid rgba(22, 161, 255, 1.0);
}
.box-color-sale-2 {
	background: linear-gradient(180deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.8) 80%);
	transition: all 0.5s ease-in-out;
}
.box-color-sale-all:hover {
	background: rgba(255,255,255,0.87);	
	transition: all 0.5s ease-in-out;
}
.box-color-sale-all:before {
	background: rgba(255,255,255,0.8);	
	transition: all 0.5s ease-in-out;
}
.accordion-box-sale {
    float: left;
	padding-bottom: 15px;
}
.super-smally {
    font-size: 11px;
    font-weight: 400;
    color: dodgerblue;
}
.bg-etheros-grad1 { background-image: linear-gradient(to left top, #0068b3, #005fa0, #00568d, #004d7b, #004469) !important; }
.nk-df-shape-ets-pat, .shape-ets-pat:after, .shape-ets-pat-bg { background-image: url(../images/shape-ets-pat.svg); }
.buy-meth {
	width: 25px;
    text-align: center;
	padding-right: 7px;
	color: #39d884;
	}
.bg-etheros-grad2 { background-image: linear-gradient(to right bottom, #0b2c51, #0c3b6c, #0d4a88, #1059a6, #1669c4, #446dd1, #6571dc, #8373e6, #ad68d9, #cd5dc6, #e552b0, #f54c97) !important; }
.bg-etheros-grad3 { background-image: linear-gradient(to right top, #051c2c, #00385b, #00578e, #0076c5, #0496ff) !important; }
@media (max-width: 574.99px) { .feature-icon-s8 {
    width: 70%;
	}	
}